:root {
  --background: #FBFBFB;
  --foreground: #000000;
  --primary: #250D53;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background);
  color: var(--foreground);
}

#root {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

#root * {
  box-sizing: border-box !important;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app-main {
  flex-grow: 1;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  box-shadow: 0 4px 50px 0 rgba(37, 14, 83, 0.12);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-dashboard {
  box-shadow: 0 4px 50px 0 rgba(37, 14, 83, 0.12);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.dashboard-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.tab-button {
  padding: 15px 30px;
  background-color: transparent;
  color: var(--primary);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 0px;
  border-top: 3px solid transparent;
  /* border-top: 3px solid none var(--background); */
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.tab-button:hover {
  background-color: rgba(37, 13, 83, 0.1);
}

.tab-button.active {
  border-top: 3px solid var(--primary);
}

.button-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.button-label {
  font-size: 12px;
  text-align: center;
}

.main-icon {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
}
