:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #FBFBFB;
  --foreground: #000000;
  --primary: #250D53;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vh;
  min-height: 100vh;
  border: solid red;
  background-color: var(--background);
  color: var(--foreground);
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}
