:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #FBFBFB;
  --foreground: #000000;
  --primary: #250D53;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background);
  color: var(--foreground);
}

#root {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

#root * {
  box-sizing: border-box !important;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app-main {
  flex-grow: 1;
  padding: 1rem;
}
.app-dashboard {
  box-shadow: 0 4px 50px 0 rgba(37, 14, 83, 0.12);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 30px;
}
